{%extends 'base.html'%} {%load static%} {%block title%} Create {%endblock%}
{%block content %}

<div class="card p-2">

<div class="card-body p-4 m-4">

  <h1>{% if title %} {{title}} {% else %} Create {% endif %}</h1>
    <form class="" enctype="multipart/form-data" method="POST">
      <div class="row">
         {% for field in form.visible_fields %}

         <!-- {{field.field.widget.input_type}} -->
         <div class="col-md-6 fv-row fv-plugins-icon-container">

            <p class="form-group">
                  {% if field.field.widget.input_type == "checkbox" %}
                  <label class="form-check form-switch form-check-custom form-check-solid">
                        {{field}}
                      <span class="form-check-label fw-bold text-muted" for="kt_modal_add_customer_billing">
                        {{field.label}}
                        {% if field.field.required %}
                        <span class="text-danger">*</span>

                        {% endif %}
                      </span>
                    </label>
                  {% elif field.field.widget.input_type == "radio" %}

                      <div class="form-check form-check-custom form-check-solid me-10">
												{{field}}
                        <label class="form-check-label" for="flexRadioChecked">
                            {{field.label}}
                            {% if field.field.required %}
                        <span class="text-danger">*</span>

                        {% endif %}
                        </label>
                    </div>
                  {% else %}
                  <label for="{{field.auto_id}}">
                    {{field.label}}
                    {% if field.field.required %}
                        <span class="text-danger">*</span>

                        {% endif %}

                  </label>
                  {{field}}
                  <div class="fv-plugins-message-container invalid-feedback"><div data-field="daterangepicker_input"> {{field.errors}} </div></div>
                  {% endif %}
                  </p>
                  </div>
                    {% endfor %}
          </div>


    {% csrf_token %}
      <br>
    <button type="submit" class="btn btn-primary">Submit</button>

  </form>

  </div>
</div>


<script>

</script>

{% endblock %}
